body{
    background-color: #f1f5f9;
}

.all{
    background-color: #0ea5e9;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}

.link{
    background-color: #e0f2fe;
    color: #0369a1;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.link a{
    text-decoration: none;
    margin: 0 6px;
}

.link a:hover{
    background-color: #0ea5e9;
    cursor: pointer;
    color: white;
}

.button{
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 50px;
}

.chun{
    background-color: #ecfeff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 132px;
}

.nav{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    
}